@charset "UTF-8";

@font-face {
    font-family: 'academia';
    src: url(fonts/Acetone-w1gn6.ttf) format('truetype');
}

:root{
    --font1: 'academia', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #333;
}

body::after {
    content: "";
    background: url('imagens/img-academia.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

header img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid grey;
    margin-left: 20px;
    margin-top: 10px;
    opacity: 0.8;
}

header ul{
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 50px;
   align-items: center;
   margin-right: 50px;
}

header li{
    font-size: 1.4em;
    color: gray;
    font-weight: normal;
    font-family: monospace;
}

header a{
    position: relative;
    text-decoration: none;
}

header a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: gray;
    transition: width .6s;
}
  
 header a:hover::after {
    width: 100%;
    font-weight: 100;
}

a:first-child::after {
    background: orange;
}

#laranja{
    color: orange;
    font-family: var(--font1);
}
/*----------------------------------*/

main{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 86vh;
    z-index: 9999;
}

.elementos h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    color: gray;
    font-weight: normal;
    font-size: 3em;
    margin-top: 40px;
}

span{
    color: orange;
}

strong{
    font-style: italic;
}

.elementos p{
    font-size: 1.2em;
    color: #8e8e8e;
    font-family: Arial, Helvetica, sans-serif;
}

.observacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    padding: 1rem;
}

.observacao a{
    position: relative;
    text-decoration: none;
    color: #8e8e8e;
    font-size: 2em;
    font-family: var(--font1);
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 30px;
}


.observacao a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 83, 83, 0.772);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s;
    z-index: -1;
}

.observacao a:hover::after {
    transform: scaleX(1);
}

.observacao a:first-child::after {
    background: #ffa60042;
}
/*----------------------------------*/

footer{
    width: 100%;
    position: relative;
}

footer .rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: -251px;
}

footer .video{
    width: 500px;
    height: 250px;
    border-radius: 10px;
    transition: all 1s ease-in;
    overflow: hidden;
    height: 0;
    position: absolute;
    bottom: -250px; /*faz subir conforme a seta*/

}

footer .setas{
    position: absolute;
    color: #8e8e8e;
    font-size: 2.5em;
    cursor: pointer;
    animation: pulse 1s infinite;
}

footer #seta1{
    top: 215px;
    left: 15.5%;
}

footer #seta2{
    top: -37px;
    left: 15.5%;
    display: none;
}

footer .setas:active{
    color: orange;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
/*-------------------------------*/

footer .rede-sociais{
    position: absolute;
    right: 25px;
    top: 195px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .rede-sociais a{
    text-decoration: none;
    color: orange;
    opacity: .7;
}

footer .rede-sociais .icon-rede{
    transition: all 0.5s;
    position: relative;
}

footer #face:hover{
   animation: pingar 3s linear infinite;
   color: #3b5998;
   background-color: white;
   -webkit-background-clip: transparent;
   -moz-background-clip: text;
   -o-background-clip: text;
   background-clip: text;
   border-radius: 60%;
   transition: all 0.1s;
}
footer #insta:hover{
   animation: pingar 3s linear infinite;
   color: white;
   background-color:#E1306C;
   -webkit-background-clip: transparent;
   -moz-background-clip: text;
   -o-background-clip: text;
   background-clip: text;
   border-radius: 30%;
   transition: all 0.1s;
}
footer #twi:hover{
   animation: pingar 3s linear infinite;
   color: #1DA1F2;
   background-color: white;
   -webkit-background-clip: transparent;
   -moz-background-clip: text;
   -o-background-clip: text;
   background-clip: text;
   border-radius: 10%;
   transition: all 0.1s;
}
footer #wchat:hover{
   animation: pingar 3s linear infinite;
   color: #2F8819;
   background-color: white;
   -webkit-background-clip: transparent;
   -moz-background-clip: text;
   -o-background-clip: text;
   background-clip: text;
   border-radius: 20%;
   transition: all 0.1s;
}

@keyframes pingar {
    0% { 
        top: 0;
    }
    50% { 
        top: -50px; 
    }
    100% {
         top: 0;
    }
}
/*----------------media screen------------------*/
